<h1 style="padding: 0 20px; color: #616161;text-align: center;">
  Olá {{userFirstName}}, sua pergunta foi respondida
</h1>
<p>
  <strong>Pergunta:</strong> <br />
  {{helpOrder.question}}<br /><br />
  <strong>Resposta:</strong> <br />
  {{helpOrder.answer}}<br /><br />
</p>
